@media only screen { html { font-size: 100px; } }
@media only screen and (max-width: 479px) and (min-width: 321px) { html { font-size: 80px; } }
@media only screen and (max-width: 320px) { html { font-size: 60px; } }
p,h1,h2,h3,a{
	font-family: "微软雅黑";
}
body{
	margin: 0 auto;
	max-width: 1200px;
}
a{
	text-decoration: none;
	color: #000;
}
header{
	position: relative;
	text-align: center;
	height: 0.7rem;
	color: #fff;
	background: #91D4DA;
}
header h1{
	font-size:0.4rem;
	line-height:0.6rem;
}
header a{
	display: inline-block;
	position: absolute;
	left: 1.5%;
	bottom: 1px;
	color: #fff;
	font-size: 0.4rem;
	line-height:0.6rem;
}
header img{
	vertical-align: middle;
	width: 0.3rem;
	margin-top: -2px;
	margin-right: 2px;

}
nav ul{
	position: relative;
}
nav li{
	float: left;
	width: 20%;
	height: 0.6rem;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.6rem;
}
.move{
	position: absolute;
	height: 4px;
	background: #91D4DA;
	bottom: 0; 
	left: 0;
	-webkit-transition: left 0.4s	ease-in-out;
	-moz-transition:left 0.4s	ease-in-out;
	transition:left 0.4s	ease-in-out;
}
nav li:nth-child(2):hover~.move{
	left: 20%
}
nav li:nth-child(3):hover~.move{
	left: 40%
}
nav li:nth-child(4):hover~.move{
	left: 60%
}
nav li:nth-child(5):hover~.move{
	left: 80%
}
#tabImg>img{
	width: 100%;
}
#tabImg ul{
	margin:0.1rem auto;
	padding-bottom:0.3rem; 
	width: 90%;
	border-bottom:2px solid #ccc;
}
#tabImg li{
	float: left;
	width: 20%;
	text-align: center;
}
#tabImg li img{
	width: 70%;
	margin:0 3%;
	margin-bottom: -0.2rem
}
#tabImg li a{
	font-size: 0.4rem;
}
#subfield{
	border-bottom:0.4rem solid #ccc;
	margin-bottom: 20px;
}
#subfield li{
	float: left;
	width: 33.3%;
	margin:30px 0;
	box-sizing: border-box;
	text-align:center;
}
#subfield li:nth-child(2){
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
#subfield li div{
	height: 1.8rem;

}
#subfield li img{
	width: 1.6rem
}
#subfield li h2{
	font-size: 0.4rem;
	line-height: 0.6rem;
}
#subfield li p{
	font-size: 0.3rem;
}
.module{
	border-bottom:0.4rem  solid #ccc 
}
.module>div,.module h3{
	width: 90%;
	margin:0.4rem auto;
}
.module>div{
	height: 1.5rem;
}
.module h3{
	border-bottom: 2px solid #ccc;
	font-size: 0.5rem;
	line-height: 1rem;
}
.module img{
	float: left;
	box-sizing: border-box;
	border: 1px solid orange;
	height:100%;
}
.module ul{
	float: right;
	height: 100%;
	width: 63%;
	position: relative;
}
.module li{
	position: absolute;
	width: 45%;
	height:0.6rem;
	font-size:0.3rem; 
	background: #ccc;
	text-align: center;
	line-height:0.6rem;
}
.module li:nth-child(1){
	top: 0;
	left: 0;
}
.module li:nth-child(2){
	top: 0;
	right: 0;
}
.module li:nth-child(3){
	bottom: 0;
	left:0;
}
.module li:nth-child(4){
	bottom: 0;
	right: 0;
}
.list{
	border-bottom: 0.05rem solid #ccc;
	position: relative;
}
.list>div{
	width: 90%;
	margin:0.4rem auto;
}
.list>div img{
	width: 2rem;
}
.list>div>div{
	position: absolute;
	height: 100%;
	top: 0;
	left: 2.7rem
}
.list h3{
	font-size: 0.5rem
}
.list p{
	font-size: 0.2rem;
	color:#bbb;
	position: absolute;
	bottom: 0.6rem;
}
.last{
	width: 90%;
	margin:0.4rem auto;
}
.last h3{
	font-size: 0.5rem;
}
.last div{
	margin: 0.4rem 0;
}
.last img{
	width: 32.5%;
}
.last img:nth-child(2){
	margin:0 1.25%
}
.last p{
	font-size: 0.2rem;
	color:#bbb;
}
footer{
	height: 1.5rem;
	background: #ccc;
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.2rem;
	color: #666
}
