@media only screen { html { font-size: 90px; } }
@media only screen and (max-width: 479px) and (min-width: 321px) { html { font-size: 60px; } }
@media only screen and (max-width: 320px) { html { font-size: 40px; } }
p,h1,h2,h3,a{
	font-family: "微软雅黑";
}
body{
	margin: 0 auto;
	max-width: 1200px;
}
a{
	text-decoration: none;
	color: #000;
}
header{
	position: relative;
	text-align: center;
	height: 0.7rem;
	color: #fff;
	background: #91D4DA;
}
header h1{
	font-size:0.4rem;
	line-height:0.6rem;
}
header a{
	display: inline-block;
	position: absolute;
	left: 1.5%;
	bottom: 1px;
	color: #fff;
	font-size: 0.4rem;
	line-height:0.6rem;
}
header img{
	vertical-align: middle;
	width: 0.3rem;
	margin-top: -2px;
	margin-right: 2px;

}
nav ul{
	position: relative;
}
nav li{
	float: left;
	width: 20%;
	height: 0.6rem;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.6rem;
}
.move{
	position: absolute;
	height: 4px;
	background: #91D4DA;
	bottom: 0; 
	left: 0;
	-webkit-transition: left 0.4s	ease-in-out;
	-moz-transition:left 0.4s	ease-in-out;
	transition:left 0.4s	ease-in-out;
}
nav li:nth-child(2):hover~.move{
	left: 20%
}
nav li:nth-child(3):hover~.move{
	left: 40%
}
nav li:nth-child(4):hover~.move{
	left: 60%
}
nav li:nth-child(5):hover~.move{
	left: 80%
}
#tabImg>img{
	width: 100%;
}
#tabImg ul{
	margin:0.1rem auto;
	padding-bottom:0.3rem; 
	width: 90%;
	border-bottom:2px solid #ccc;
}
#tabImg li{
	float: left;
	width: 20%;
	text-align: center;
}
#tabImg li img{
	width: 70%
}
#tabImg li a{
	font-size: 0.4rem;
	margin: -10px auto 0;
}
#subfield{
	border-bottom:20px solid #ccc;
	margin-bottom: 20px;
}
#subfield li{
	float: left;
	width: 33.3%;
	margin:30px 0;
	box-sizing: border-box;
	text-align:center;
}
#subfield li:nth-child(2){
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
#subfield li div{
	height: 2.5rem;

}
#subfield li img{
	width: 2rem
}
#subfield li h2{
	font-size: 0.4rem;
	line-height: 0.6rem;
}
#subfield li p{
	font-size: 0.3rem;
}
.module{
	border-bottom:20px solid #ccc 

}
.module h3,.module div{
	width: 90%;
	margin:0 auto;
}
.module h3{
	border-bottom: 2px solid #ccc;
	font-size: 50px;
	line-height: 100px;
}
.module img{
	float: left;
	border: 1px solid orange;
	width: 20%;
}
.module ul{
	float: left;
	width: 70%;
	height: 100%
}
.module li{
	float: left;
	width: 50%;
	height: 50%;
}