body{margin: 0;padding: 0;
  background: #dedede;
  font-family: '微软雅黑'
  }
 p,li{
  font-size: 15px
 }
#title{ height: 60px;
  background: #333;
  padding: 2px 15px 0 15px
}
#title #logo,#title ul li{
  float: left;
  
}
#title ul{ float: right; }
#title ul li{
  margin:0 10px;
  width: 80px;
  list-style: none;
  
  }
#title ul li a{
  text-decoration: none;
  color: #fff8eb
}
#title ul li a:hover{
  color: #aca39e
}
#center{
  margin-right:420px 
}
.main{
  background: #fff;
  margin:20px 20px; 
  padding: 20px;
  border-right: 2px  solid #848484;
  border-bottom: 2px  solid #848484
}
h3{
  color: #707176
}
.zuozhe{
  font-size: 12px;
  color: #707176
}
.main2 li{
  list-style: none;
}
.main3 div{
  width: 120px;
  height: 124px;
  border:1px solid #ccc;
  margin-top:20px ;
  padding-bottom: 10px
  
}
.main3 div p{
  font-size: 12px;
  text-align: center;

}
.main3 div img{
  width: 100px;
  height: 80px;
  display:block; margin:0 auto 10px;
}
.main4 table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc
}
.main4 td{
  font-size: 12px;
  height: 18px;
  padding-left: 1em
}
.main4 thead{
  background: #333;
  color: #fff;
  font-weight: bold;
}
.main4 tbody{
  font-size: 12px;
}
.main4 tfoot{
  background:#ccc
}
.right{
  width: 360px;
  height: 500px;
  position: absolute;
  top: 62px;
  right: 0;
  font-size: 12px;
  
}
.right h2{
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  fon
}
.right div{
  margin: 5px auto;
}
.right .tips{
  float: left;
  text-align: right;
  width: 35%;
  margin:4px 10px 0 0 
}
.right p{
  margin-top:2px;
  padding-left:138px;
  font-size: 10px;
  color: #aaa;

 }
#submitBtn{
  color: #fff;
  font-size: 16px;
  border:none;
  width: 260px;
  height: 38px;
  background: #3355d0;
  border-radius: 9px;
  position: absolute;
  top: 450px;
  left: 50%;
  margin-left:-130px;
}
#foot{
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 18px;
  background: #333;
}